
.navs i {
    cursor: pointer;
    margin-right: 8px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }
  
.sidenav div {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.sidenav div:hover {
    color: #f1f1f1;
  }
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 15px;
    margin-left: 50px;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
    color: rgb(51, 51, 51);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 15px;
    text-size-adjust: 100%;
    vertical-align: baseline;
}
  
.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 15px;
    margin-left: 50px;
    border: none;
    background: none;
}
  
.side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.side-menu-list button:hover {
    background-color: #8fd5f85f;
    border-radius: 3px;
}

.search-button {
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    letter-spacing: 0.05em;
    white-space: nowrap;
    font-weight: bold;
    font-size: 10px;
    height: 30px;
    padding: 9px 6px;
}

.head-line {
    margin-top : 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 480px;
}

.menus {
    margin-top : 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double #000;
}

.menus button {
    background: none;
    border: none;
    margin: 5px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 0.75rem;
    text-size-adjust: 100%;
}

.menus button:hover {
    background-color: #ebebeb;
}

.news-img-size {
    max-width: 100%;
    max-height: 250px;
}

.news{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-bottom: 2px solid #000;
}

.news-title {
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-size: 1.375rem;
    line-height: 1.15em;
    font-weight: 700;
}

.news-summary {
    position: relative;
    font-size: 0.875rem;
    letter-spacing: 0.1px;
    line-height: 1.1875rem;
}

.rights {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 0.56rem;
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 1.2em;
}